button{
    background-color: rgb(0, 128, 53);
    border-radius: 20px;
    border-style: solid;
    border-color: yellow;
    width: 20%;
    height: 45px;
    font-family: "Lucida Console";
    font-size: 20px;
    box-shadow: 0 10px yellow;
    margin-top: 20px;
}
button:hover{
   background-color: rgb(180, 180, 48);
}
button:active{
    transform: translateY(4px);
    box-shadow: 0 6px yellow;
}
a{
    background-color: rgb(0, 128, 53);
    border-radius: 20px;
    border-style: solid;
    border-color: yellow;
    width: 20%;
    height: 45px;
    font-family: "Lucida Console";
    font-size: 20px;
    box-shadow: 0 10px yellow;
    margin-top: 20px;
}
a:hover{
   background-color: rgb(180, 180, 48);
}
a:active{
    transform: translateY(4px);
    box-shadow: 0 6px yellow;
}